
* {
    padding: 0;
    margin: 0;
    --w: 0; --h: 0; --duration: 0; --p: 0px;

    --py: var(--p);
    --px: var(--p);
    --pt: var(--py);
    --pb: var(--py);
    --pl: var(--px);
    --pr: var(--px);

    font-family: 'Inter';
}

.webdrom.main.editor {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;

    --multiplier: 7px;
    --multiplier-2: calc(2 * var(--multiplier));
    --multiplier-3: calc(3 * var(--multiplier));
    --multiplier-4: calc(4 * var(--multiplier));
    --multiplier-5: calc(5 * var(--multiplier));
    --multiplier-6: calc(6 * var(--multiplier));
    --multiplier-7: calc(7 * var(--multiplier));
    --multiplier-1-7: calc(1 / 7 * var(--multiplier));
    --multiplier-2-7: calc(2 / 7 * var(--multiplier));
    --multiplier-3-7: calc(3 / 7 * var(--multiplier));
    --multiplier-4-7: calc(4 / 7 * var(--multiplier));
    --multiplier-5-7: calc(5 / 7 * var(--multiplier));
    --multiplier-6-7: calc(6 / 7 * var(--multiplier));
    --multiplier-7-7: calc(7 / 7 * var(--multiplier));

    --multiplier-half: 4px;

    --px200: calc(30 * var(--multiplier));
    --px300: calc(44 * var(--multiplier));
    --px400: calc(58 * var(--multiplier));

    font-size: var(--multiplier);

    --webdrom-navbar-background: #1a1a1a;
    --webdrom-background: #1e1e1e;
    --webdrom-contrast-background: #2c2c2c;
    --webdrom-light-background: #252526;
    --webdrom-lighter-background: #282828;
    --webdrom-contrast-light-background: #2b2b2b;
    --webdrom-contrast-lighter-background: #37373d;
    --webdrom-editor-separate: #505050;
    --webdrom-editor-blue: #007acc;
    --webdrom-editor-blue-contrast: #0085de;
    --webdrom-editor-blue-light: #04395e;
    --webdrom-editor-icon: #929292;
    --webdrom-editor-text: #b2b2b2;
    --webdrom-editor-light-text: #d6d6d6;

    --alert-gap: var(--multiplier-4);

    background-color: var(--webdrom-background);
    color: var(--webdrom-editor-text);
    position: relative;
}

.webdrom.main.editor .success { color: #5ebb4e; }
.webdrom.main.editor .danger  { color: #d64f40; }
.webdrom.main.editor .warning { color: #cf984f; }

.webdrom.main.editor #webdrom-contrast-bg {
    fill: var(--webdrom-contrast-background);
}

.webdrom.main.editor .logo-svg {
    aspect-ratio: 1;
    width:  var(--px300);
    height: var(--px300);
}

.webdrom.main.editor .center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.webdrom.main.editor .center-w {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.webdrom.main.editor fieldset {
    font-size: var(--multiplier-3);
    border: 0;
}

.webdrom.main.editor>.alert-main {
    position: absolute;
    right:  var(--alert-gap);
    bottom: var(--alert-gap);

    display: flex;
    flex-direction: column;
    gap: var(--alert-gap);
}

.webdrom.main.editor>.alert-main>.alert {
    width: var(--px400);
    min-height: var(--multiplier-4);
    background-color: var(--webdrom-lighter-background);
    position: relative;
    animation: remove-object 500ms ease-in 5000ms forwards;
    display: flex;
    padding-right: var(--multiplier-2);
}
.webdrom.main.editor>.alert-main>.alert>p {
    font-size: var(--multiplier-2);
    margin-top: auto;
    margin-bottom: auto;
}
.webdrom.main.editor>.alert-main>.alert>.alert-icon {
    width:  var(--multiplier-4);
    height: var(--multiplier-4);
    padding: var(--multiplier-2);
    font-size: var(--multiplier-4);
}
.webdrom.main.editor>.alert-main>.alert>.advancement-bar {
    position: absolute;
    height:   4px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    transform: translate(0, 100%);
    animation: advancement-bar 5000ms;
    background-color: var(--webdrom-editor-blue);
}

.webdrom.main.editor navbar {
    z-index: 10;
    width: 100%;
    height: var(--multiplier-3);

    background-color: var(--webdrom-lighter-background);
    display: flex;
    gap: var(--multiplier-half);
    color: var(--webdrom-editor-light-text);
}

.webdrom.main.editor navbar .nav {
    cursor: default;
    transition: all 300ms;
    position: relative;
}
.webdrom.main.editor navbar .nav>p {
    padding-top:    var(--multiplier-2-7);
    padding-bottom: var(--multiplier-2-7);
    font-size: var(--multiplier-2);
    font-weight: 600;
    padding-left:  var(--multiplier-half);
    padding-right: var(--multiplier-half);
}
.webdrom.main.editor navbar .nav>div.main-menu {
    display: none;
    min-width: var(--px200);
    position: absolute;
    bottom: 0; left: 0;
    transform: translateY(100%);
    padding-top: var(--multiplier-half);
    padding-bottom: var(--multiplier-half);
}
.webdrom.main.editor navbar .nav .menu>* {
    display: block;
}
.webdrom.main.editor navbar .nav .menu>span.separator {
    margin-top:    var(--multiplier-half);
    margin-bottom: var(--multiplier-half);
    height: var(--multiplier-1-7);
    background-color: var(--webdrom-editor-separate);
}
.webdrom.main.editor navbar .nav .menu>*:not(span.separator):not(.sub-menu):hover {
    background-color: var(--webdrom-contrast-light-background);
    cursor: pointer;
}
.webdrom.main.editor navbar .nav .menu>:not(*:not(span.separator):not(.sub-menu)):hover {
    cursor: default;
}
.webdrom.main.editor navbar .nav .menu>.menu {
    position: relative;
}
.webdrom.main.editor navbar .nav .menu>.menu:not(.sub-menu)::after {
    font-family: 'Material Icons Outlined';
    content: "chevron_right";
    position: absolute;
    font-size: var(--multiplier-3);
    right: var(--multiplier-2);
    top: 50%;
    transform: translateY(-50%);
    color: var(--webdrom-editor-text);
}
.webdrom.main.editor navbar .nav .menu>*:not(span.separator)>p {
    padding-top:    var(--multiplier-4-7);
    padding-bottom: var(--multiplier-4-7);
    font-size: var(--multiplier-2);
    font-weight: 400;
    padding-left:  var(--multiplier-4);
    padding-right: var(--multiplier-5);
}
.webdrom.main.editor navbar .nav .menu>.sub-menu {
    display: none;
    position: absolute;
    min-width: var(--px200);
    right: 1px;
    transform: translateX(100%) translateY(calc(-1 * var(--multiplier-half)));
    top: 0;
    background-color: var(--webdrom-navbar-background);
    padding-top: var(--multiplier-half);
    padding-bottom: var(--multiplier-half);
}
.webdrom.main.editor navbar .nav .menu:hover>.sub-menu {
    display: block;
}

.webdrom.main.editor navbar .nav.active {
    background-color: var(--webdrom-contrast-light-background);
}
.webdrom.main.editor navbar .nav.active>div.main-menu {
    display: block;
    background-color: var(--webdrom-navbar-background);
}

@keyframes advancement-bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@keyframes remove-object {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/webdrom/assets/fonts/icons.woff2) format('woff2');
}

@font-face {
    font-family: 'VS Code Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/webdrom/assets/fonts/code-icons.woff2) format('woff2');
}

.vscode-icons {
    font-family: 'VS Code Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    color: var(--webdrom-editor-icon);
}
  
.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    color: var(--webdrom-editor-icon);
}

@font-face {
    font-family: Inter;
    src: url(/webdrom/assets/fonts/Inter-VarFont.ttf);
}

* {
    font-family: Inter;
}

body {
    margin: 0;
    font-family: 'roboto';
    overflow: hidden;
}
a {
    text-decoration: none;
}

:not(.no-tailwind) {
    padding-top:    var(--pt);
    padding-bottom: var(--pb);
    padding-left:   var(--pl);
    padding-right:  var(--pr);
    
    width:  calc(var(--w) - var(--pl) - var(--pr));
    height: calc(var(--h) - var(--pb) - var(--pt));

    transition-duration: var(--duration);
}
input.tailwind:not(.no-tailwind) {
    --w: 100%;
    border: none;
    outline: none;
}
button.tailwind:not(.no-tailwind) {
    border: none;
    background: none;
}

.msplitter-separator {
    --duration: 300ms;
    transition: background-color 300ms 75ms;
    z-index: 5;
}

/*.explorer-transition {
    --duration: 100ms;
    transition: height 100ms 0s;
}*/

textarea{
    border: none !important;
    outline: none !important;
    resize:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
