    <!-- Query whether the user wants to use any starting mode -->
    <div class="center-div">
        <import href="/src/assets/webdrom_logo.svg"></import>

        <fieldset>
            <legend>WebDrom could not automatically start, please choose the starting mode.</legend>
        
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey" checked>
                <label for="dewey">Server Based Editor (Recommanded)</label>
            </div>
            
            <div>
                <input type="radio" id="huey" name="drone" value="huey">
                <label for="huey">Single Page Editor</label>
            </div>
        
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">External Module</label>
            </div>
        </fieldset>
    </div>